
h1{
    text-align: center;
} 


body {
font: normal normal 13px/16px "Open Sans", sans-serif;
}
.container{
    padding: 20px;
    width: 450px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.addTask input{
	width: 90%;
	color: rgb(0, 0, 0);
	border:none;
	border: 2px solid rgb(0, 0, 0);
	background: none;
	padding: 10px;
	font-size: 17px;
    border-radius: 5px 5px;
}

.addTask{
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.addTask button{
	margin: 1px;
	background: #222;
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	padding: 8px;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
    width: 45px;
}
.deleteAlbutt
{
    margin-right: 10px;
}

.todoList{
    padding-left: 0px;
}


.todoDiv .deleteButton,.modifyButton{
    margin-left: 10px;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 20px;
	text-transform: uppercase;
	padding: 8px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
    float: right;
    display: block;
    height: 40px;
}
.todoItem{
     text-align: center; 
    font-size: 20px;
    float: left;
    display: block;
    margin-top: 10px;
    word-wrap: break-word;

}

.todoDiv
{
    position: relative;
    display: flow-root;
    border-radius: 10px;
    background-clip: border-box;
    margin: 10px; 
    background-color: #e8e8e8;
    padding: 5px;

}
